{% extends 'base.html' %}

{% block title %}postmarketOS // blog{% endblock %}

{%block extra_link %}
<link rel="stylesheet" href="/static/css/blog.css">
{%endblock%}

{% block body %}
{% for year, posts in year_posts.items() %}
<div class="content {% if loop.index is divisibleby 2 %}alt{% endif %}">
    <h2>{{ year }}</h2>
    {% for post in posts %}
    <div class="post">
        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date.strftime('%Y-%m-%d') }}</span>
        <span class="reading_time">({{ post.reading_time }} min)</span>
    </div>
    {% endfor %}
</div>
{% if not loop.last %}
<div class="separator"></div>
{% endif %}
{% endfor %}
{% endblock %}
